/*
 * Globals
 */

/* Links */

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Regular.otf');
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



@-webkit-keyframes blur {
  0% { -webkit-filter: blur(10px); }
    10% {-webkit-filter: blur(1px);}
  100% { -webkit-filter: blur(0px); }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
    0%{transform: translateX(-10%)}
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0%{transform: translateX(-10%)}
    100% { -webkit-transform: translateX(0%); }
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    position:absolute;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
    top: 0px;
    left: 0px;
    position:absolute;
  }
}

a.item,
a.item:focus,
a.item:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
font-family: 'Quicksand';
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
    margin-top: auto;
}

/* Padding for spacing */
.inner {
  padding: 0px;
    
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 25px;

  color: rgb(0, 0, 0);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a.item:hover,
.masthead-nav > li > a.item:focus {
  background-color: transparent;
}
.masthead-nav > .active > a.item,
.masthead-nav > .active > a.item:hover,
.masthead-nav > .active > a.item:focus {
  color: rgb(211, 211, 211);
  border-bottom-color: rgba(224, 224, 224, 0.9);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    }
   
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
}


/*
 * Footer
 */

.mastfoot {
  color: rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0.4);  
    top: 60px;
    height: 647px;
    right: 0px;
    position: absolute;
    display: none;
    -webkit-animation: fadeIn 1s;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 200px;
    left:21%;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot{
    width: 250px; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}

#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    top:45%;

    -webkit-animation: blur 7s;
}

.lowerlogo{
    padding-top: 70px;
    right: 0px;
    position: fixed;
}

.student-stories{
    left: 0px;
    top: 0px;
    font-size: 32px;
    position: absolute;
background-color: rgba(0, 0, 0, 0.5);  
    width: 100%;
    height: 60px;

    
}

#words:hover{
    color: red;
    text-decoration: none;
    
}
#words{
    color: #ffffff;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background: red;
    padding: 10px;
}
.circle{
    float: right;
    border: 3px solid #666;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    bottom: 10px;

}

.arrow,.arrow:hover{
    color: white;
    text-decoration: none;
    
}


.svgcircle{
    background: url("../img/svg/circle-btn.svg") no-repeat center center/100%;
    
}

.padding{
    height: 90px;
}

#menubutton{
    float: right;
    color:#ffffff;
    margin-right: 20px;
    margin-top:5px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    
}

#menubutton:hover{
    color: red;
    text-decoration: none;
}
.motto{
    margin-top:20px;
    font-size: 32px;
    animation: slide-in 1.5s;
}

#hard, #hard:hover{
    color: red;
    text-decoration: none;
}

#puzzle1{
    left: 120px;
    background-color: rgba(255, 255, 255, 0.49);
    border-left: solid;
    border-width: 5px;
    
}

#puzzle1, #puzzle2, #puzzle3, #puzzle4, #puzzle5{
    position:absolute;
    top:850px;
    background-color: rgba(255, 255, 255, 0.49);
    padding:20px;
    height: 450px;
    width: 200px;
    color: black;
    font-weight: bolder;
    font-size: 24px;
 border-top: solid;
    border-bottom: solid;
    border-width: 5px;
    
}


#story1{
    background-color: white;
    margin-left: 0px;
    width: 595px !important;
}

#story1, #story2, #story3, #story4, #story5{
    display:none;
    padding-top: 70px;
    margin-top: 46px;
    padding-left: 0px;
    width: 600px;
    background-color: white;
    height: 180px;
    z-index: 5;
    position:absolute;
    margin-left: -20px;
    color: #000000;

}

#puzzle2{
    left: 320px;
    background-color: rgba(139, 11, 11, 0.49);

}

#story2{

    margin-left: -20px;
    background-color: rgb(139, 11, 11);

}

#puzzle3{
    left: 520px;
    background-color: rgba(255, 255, 255, 0.49);


}

#story3{

    margin-left: -220px;
    background-color: white;

}

#puzzle4{
    left: 720px;
    background-color: rgba(139, 11, 11, 0.49);

}

#story4{

    margin-left: -420px;
    background-color: rgb(139, 11, 11);
}


#puzzle5{
    left: 920px;
    background-color: rgba(255, 255, 255, 0.49);
    border-right: solid;
    border-width: 5px;

}

#story5{

    margin-left: -420px;
    background-color: white;
    width: 595px !important;
}

#pic1, #pic2, #pic3, #pic4, #pic5{
    filter: grayscale(100%);
}

.name{
    padding-bottom: 10px;
}

.title{
    top: 750px;
left: 400px;
    position: absolute;
    font-size: 60px;

}

.final{
    padding-bottom: 750px;
}

#student-stories{
    position: absolute;
    top: 720px;
}

#up{
    position: absolute;
    top: 1200px;
    right: 10px;
    width: 100px;
    height: 100px;
    background-image: url(../Button%20No%20Hover%20.png);
    background-size: 100px 100px;
     border-radius: 50%;
    border-width: 0px;
    display: block;
    background-color: rgba(0, 0, 0, 0);

}

#up:hover{
    background-image: url(../Button%20Hover%20.png);
}
#up:active, #up:focus{
    border-width: 0px;
    outline: none;
}


