/*
 * Globals
 */

/* Links */

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Regular.otf');
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



@-webkit-keyframes blur {
  0% { -webkit-filter: blur(10px); }
    10% {-webkit-filter: blur(1px);}
  100% { -webkit-filter: blur(0px); }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
    0%{transform: translateX(-10%)}
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0%{transform: translateX(-10%)}
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-in2 {
    from {color: rgba(255, 255, 255, 0);}
    to {color: white;}
    0%{transform: translateX(-10%)}
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in2 {
    0%{-webkit-transform: translateX(-10%); color: white;}
    100% { -webkit-transform: translateX(0%); color: white;}
}

@keyframes slide-in3 {
    from {color: rgba(255, 0, 0, 0);}
    to {color: red;}
    0%{transform: translateX(-10%)}
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in3 {

    0%{-webkit-transform: translateX(-10%); color: red;}
    100% { -webkit-transform: translateX(0%); color: red;}
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    position:absolute;
  }
    .row{
        width: 100%;
    }

}

.col-sm-4{
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 768px){
.col-sm-4 {
    width:initial;
    }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position:absolute;
  }

    .row{
        width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .fullscreen-bg__video {
    display:none;
  }
    #logo{
        margin-top: 70%;
        height: 40px !important;
        width: 200px !important;
        margin-left: 20% !important;
    }
    .motto{
        font-size:100% !important;
        margin-left: 20% !important;
    }
    #words{
        display: none;
    }
    .mastfoot{
        background-color: white !important;
        height: 450px !important;
    }
    .padding{
        height: 40px !important;
    }
    .lowerlogo{
        padding-top: 0px !important;
    }
    .final2{
        display: none !important;
    }
    .cover{
        display:none !important;
    }
    .title{
        display:none !important;
    }
    .hotline{
        display:none;
    }

}


a.item,
a.item:focus,
a.item:hover {
  color: #fff;
    cursor: pointer;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
font-family: 'Quicksand';
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-size: cover;
  background-repeat:   repeat;
  background-position: center center;
    height: 100px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
    margin-top: auto;
}

/* Padding for spacing */
.inner {
  padding: 0px;
    
}

span{
    color: white;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 25px;

  color: rgb(0, 0, 0);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a.item:hover,
.masthead-nav > li > a.item:focus {
  background-color: transparent;
}
.masthead-nav > .active > a.item,
.masthead-nav > .active > a.item:hover,
.masthead-nav > .active > a.item:focus {
  color: rgb(211, 211, 211);
  border-bottom-color: rgba(224, 224, 224, 0.9);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    }
   
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
}


/*
 * Footer
 */

.mastfoot {
  color: rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0.4);  
    top: 60px;
    height: 647px;
    right: 0px;
    position: absolute;
    display: none;
    -webkit-animation: fadeIn 1s;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 200px;
    left:29%;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot{
    width: 250px; /* Must be percentage or pixels for horizontal alignment */
  }


}

@media (max-width: 950px) {
    #block1, #block3, #block5, #block7, #block9{
        
    }
}

#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    top:45%;
    animation: blur 7s;
    -webkit-animation: blur 7s;
    height: 100px;
    width: 500px;
}

.lowerlogo{
    padding-top: 70px;
    right: 0px;
    position: fixed;
}

.student-stories{
    left: 0px;
    top: 0px;
    font-size: 32px;
    position: absolute;
background-color: rgba(0, 0, 0, 0.5);  
    width: 100%;
    height: 60px;
   

    
}

#words:hover{
    color: red;
    text-decoration: none;
    
}
#words{
    color: #ffffff;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    -webkit-animation: fadeIn 2s;
}

#circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background: red;
    padding: 10px;
}
.circle{
    float: right;
    border: 3px solid #666;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    bottom: 10px;

}

.arrow,.arrow:hover{
    color: white;
    text-decoration: none;
    
}


.svgcircle{
    background: url("../img/svg/circle-btn.svg") no-repeat center center/100%;
    
}

.padding{
    height: 90px;
}

#menubutton{
    float: right;
    color:#ffffff;
    margin-right: 20px;
    margin-top:5px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    -webkit-animation: fadeIn 2s;
    
}

#menubutton:hover{
    color: red;
    text-decoration: none;
}
.motto{
    margin-top:20px;
    font-size: 32px;
    color: black !important;
}

#hard, #hard:hover{
    color: red;
    text-decoration: none;
}

#hard2, #hard2:hover{
    color: rgba(255, 0, 0, 0);
    text-decoration: none;
    -webkit-animation: slide-in3 2s forwards;
    animation: slide-in3 2s forwards;
    -webkit-animation-delay: .5s; /* Safari 4.0 - 8.0 */
    animation-delay: .5s;
    animation-fill-mode:forwards;
    
}

#puzzle1{
    left: 120px;
    background-color: rgba(255, 255, 255, 0.49);
    border-left: solid;
    border-width: 5px;
    
}

#puzzle1, #puzzle2, #puzzle3, #puzzle4, #puzzle5{
    position:absolute;
    top:850px;
    background-color: rgba(255, 255, 255, 0.49);
    padding:20px;
    height: 450px;
    width: 200px;
    color: black;
    font-weight: bolder;
    font-size: 24px;
 border-top: solid;
    border-bottom: solid;
    border-width: 5px;
    
}


#story1{
    background-color: white;
    margin-left: 0px;
    width: 595px !important;
}

#story1, #story2, #story3, #story4, #story5{
    display:none;
    padding-top: 70px;
    margin-top: 46px;
    padding-left: 0px;
    width: 600px;
    background-color: white;
    height: 180px;
    z-index: 5;
    position:absolute;
    margin-left: -20px;
    color: #000000;

}

#puzzle2{
    left: 320px;
    background-color: rgba(255, 255, 255, 0.49);

}

#story2{

    margin-left: -20px;
    background-color: white;

}

#puzzle3{
    left: 520px;
    background-color: rgba(255, 255, 255, 0.49);


}

#story3{

    margin-left: -220px;
    background-color: white;

}

#puzzle4{
    left: 720px;
    background-color: rgba(255, 255, 255, 0.49);

}

#story4{

    margin-left: -420px;
    background-color: white;
}


#puzzle5{
    left: 920px;
    background-color: rgba(255, 255, 255, 0.49);
    border-right: solid;
    border-width: 5px;

}

#story5{

    margin-left: -420px;
    background-color: white;
    width: 595px !important;
}

#pic1, #pic2, #pic3, #pic4, #pic5{
    filter: grayscale(100%);
}

.name{
    padding-bottom: 10px;
}



.final{
    margin-top: 50px;
    background-color: rgba(126, 126, 126, 0.67);
    width: 115%;
    left: 0px;
    height: 110px;
    position: absolute;
    border-top: solid;
    border-color: black;
    border-width: 5px;
    text-align: left;
    
}
.final2{
    margin-top: 1500px;
    

    
}

#student-stories{
    position: absolute;
    top: 720px;
}

#up{
    position: fixed;
    right: 20px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    background-image: url(../assets/img/uparrow.png);
    background-size: 50px 50px;
     border-radius: 50%;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    display: none;

}


#up:active, #up:focus{
    border-width: 0px;
    outline: none;
}


#contact-form{
    width:900px;
    margin-left: 50px;
    margin-top: 100px;
}

.active{
    color: white !important;
}

.QR{
    position: absolute;
    right: 10%;
    bottom: 5px;
    height: 100px;
    width: 100px;
    border: solid;
    border-color: black;
    border-width: 7px;
}

#animate1{display: inline-block;
    color: white;
    -webkit-animation: slide-in 2s;
    animation: slide-in 2s;
    
}

#animate2{display: inline-block;
    color: rgba(255, 255, 255, 0);
    -webkit-animation: slide-in2 2s forwards;
    animation: slide-in2 2s forwards;
    -webkit-animation-delay: .5s; /* Safari 4.0 - 8.0 */
    animation-delay: .5s;
}



.title{
    margin-top: 0%;
    font-size: 30px;
    width: 1200px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: left;

}

.col-sm-4{
    margin-right: 0px !important;
    margin-left: 0px;
}

#grid-title:hover, #grid-title{
    padding-left: 240px;
    text-decoration: none;
    color: white;
    font-weight: 100;
}



#block2{
    background-color: #6b94a5;
}

#block2, #block4, #block6, #block8{
    height: 375px;
    width: 375px;
 
}

#block4{
    background-color: #000000;
}

#block6{
    background-color: #052c47;
}
#block8{
    background-color: #381313;
}

.lowertitle{
    text-align: left;
    margin-bottom: 100px;
    margin-top: 5px;
    font-size: 30px;
    margin-left: 0px;
    
}

#fashionfilm1, #fashionfilm2{
    position: absolute;
    left: 50px;
    top: 20px;
    font-size: 30px;
    display: none;
}


#Cindy{
    position: absolute;
    left: 150px;
    top: 190px;
    font-size: 30px;
    display: none;
}

#fashionfilm3, #fashionfilm4{
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 30px;
    display: none;
}

.stories{
    color: black !important;
    
}

.fullscreen-bg__video{
    left: 0px;
    top: 0px;
    
}

.Valentina{
    text-align: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: rgba(255, 255, 255, 0.38);


}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: inline;
}

.bottomimages{
    margin-left: 10px;
}

.actualquotes{
    top: 100px;
    position: relative;
}

#facebook, #linkedin, #wechat{
    position: absolute;
    bottom: 30px;
    -webkit-filter: invert(1);
   filter: invert(1);
}

#facebook{
    right: 250px;
}

#linkedin{
    right: 310px;
}

#wechat{
    right: 370px;
}

.modal{
    background-color: rgba(255, 255, 255, 0.51) !important;
}

.modal-content{
    background-color: rgba(255, 255, 255, 0.9) !important;
}