.jumbotron {
background: inherit;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 0px;
padding-bottom: 0px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}

.well{
    background: inherit !important;
}

@media (max-width: 1200px){
    .contact{
       
    }

}


@media only screen and (max-width: 480px){
    .contact{  
    width: 100%;
    left: 0px;
    height: 110px;
    position: absolute;
    border-top: solid;
    border-color: black;
    border-width: 5px;
    text-align: left;
    }
}

.contact{
    background-color: rgb(211, 6, 6);
    left: 0px;
    width: 100%;
    height: 110px;
    position: absolute;
    margin-top: 0px;
    border-top: solid;
    border-color: black;
    border-width: 0px;
    text-align: left;
}


.mastfoot{
    background: rgb(211, 211, 211) !important;
    position:fixed !important;
    text-align: center;
    height: 100% !important;
}

.student-stories{
    position:fixed !important;

    z-index: 10;
}

.form-control{
    z-index: 0 !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    color: #ffffff;
}



.SAT{
    width: 45%;
    float:left;
    margin-left: 2%;
}

#SAT2{
    margin-left: 5%;
}

#tablecontainer{
    margin:0 auto;
    overflow: auto;
}

.site-wrapper-inner{
    vertical-align: top;
}

#recentresults{
    margin-top: 100px;
}

#small{
    color: #c3c0c0;
}

.progress{
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
}

#barchart{
    border-style: solid;
    overflow: auto;
    margin-top: 30px;
    background-color: white;
    margin-bottom: 100px;
}

.schools{
    height: 15%;
    width: 15%;
}